<ion-header>
  <ion-toolbar>

    <!-- Ícone do menu -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/usuarios"></ion-back-button>
    </ion-buttons>

    <ion-title>Artigo completo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="art">

  <div class="ion-text-center">
    <ion-img src="{{ art.image }}"></ion-img>
  </div>

  <h2 class="ion-text-center">{{ art.title }}</h2>
  <small class="date-time">{{ art.date | date :'d/m/Y'}} às {{ art.date | date :'H:mm'}}.</small>
  <div [innerHTML]="art.body"></div>

  &nbsp;
  <ion-button size="block" routerLink="/usuarios">&larr; Voltar</ion-button>

</ion-content>
